<!DOCTYPE html>
<html>
<head>
	<title>Error - AwesomeBot Status</title>
	<% include ../partials/head %>
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        Something went wrong. <a onclick="window.history.back();">Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
